# vscode config
.vscode
compile_flags.txt

# vitis build/run temp dirs/files
.ipcache
.Xil
*.log
*.jou
*_x.*
*.wdb
*.wcfg
*.protoinst
*build_dir.*
emconfig.json
.run
*.csv
xclbin.ex.run_summary
vitis_analyzer_pid*.zip
xrt.run_summary

# csim temp dirs
spmv_csim/csim_headers

# complied host programs
spmv_csim/csim
sw/benchmark
sw/host
unit_tests/test_pe
performance_model/design_space_exp
performance_model/performance_model
monolithic_spmv/host

# hw_emu settings
xrt.ini
presim.tcl

# downloaded datasets
datasets/graph
datasets/large
datasets/pruned_nn
datasets/sparse_datasets.zip
